<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
  <h1>My Babies</h1>
  <ul class="baby-list">
  <% babyList.forEach(baby => { %>
    <li>
      <a href="/baby/<%= baby._id %>"><%= baby.name %></a>
      <a href="/baby/<%= baby._id %>/addData"><button class="btn">Add Data</button></a>
    </li>
  <% }) %>
  </ul>
  <form action="/baby" method="POST">
    <h2>Add a baby</h2>
    <label>
      Name:
      <input type="text" name="name" autocomplete="off" required>
    </label>
    <label>
      Birthday:
      <input type="date"  name="birthday" value="<%= todaysDate %>">
    </label>
    <label>
      Sex:
      <input type="text" name="sex">
    </label>
    <button type="submit">Add a baby</button>
  </form>

</section>
<%- include('../partials/footer') %>