<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (baby.caregiver.equals(user?.profile._id)) { %>
<section>
  <h1>Baby Details</h1>
  <a href="/baby/<%= baby._id %>/addData"><button class="btn">Add Data</button></a>

  <div>Name: <%= baby.name %></div>
  <% if (baby.birthday) { %> 
  <div>Birthday: <%= baby.birthday %></div>
  <% } %> 
  <% if (baby.sex) { %> 
  <div>Sex: <%= baby.sex %></div>
  <% } %> 

  <form action="/baby/<%= baby._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit this baby</button>
  </form>
  <form action="/baby/<%= baby._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Remove this baby</button>
  </form>

</section>
<% } %>

<% if (baby.feedings.length > 0) { %>
  <section id="feedings-section">
    <h2>Feedings: <%= baby.feedings.length %></h2>

    <% baby.feedings.forEach(feeding => { %>
      <% if (feeding.date) { %>
        <div class="data-point">Date: <%= feeding.date %></div>
      <% } %>
      <% if (feeding.feedType) { %>
        <div class="data-point">Feed Type: <%= feeding.feedType %></div>
      <% } %>
      <% if (feeding.amount) { %>
        <div class="data-point">Amount: <%= feeding.amount %></div>
      <% } %>
      <% if (feeding.startTime) { %>
        <div class="data-point">Start Time: <%= feeding.startTime %></div>
      <% } %>
      <% if (feeding.endTime) { %>
        <div class="data-point">End Time: <%= feeding.endTime %></div>
      <% } %>
      <% if (feeding.startTime && feeding.endTime) { %>
        <div class="data-point">Total Feed Time: <%= feeding.endTime - feeding.startTime %></div>
      <% } %> 
      <form action="/baby/<%= baby._id %>/feeding/<%= feeding._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete this feed</button>
      </form>
    <% }) %>
  </section>
<% } %> 

<%- include('../partials/footer') %>